body {
    background-color: #303030;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    display: flex;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 0 40px 20px 20px;
}

header #flag {
    margin-left: 1em;
}

header #flag img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 2.750em;
    height: 2.750em;
    vertical-align: bottom;
    cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #e77c48;
}

.nav-link img {
    max-width: 45px;
    max-height: 45px;
}

.tab-content img {
    width: 54px;
    height: 54px;
}

.tab-content .item {
    justify-content: center;
    margin-bottom: 0.2em;
    position: relative;
    cursor: move;
    transition: background-color 0.5s;
}

.tab-content .item>.number {
    border-top-left-radius: 0.25em;
    background-color: #e77c48;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* Liste */

.group {
    border-radius: 0.25em;
    border: 1px solid black;
}

.drop-zone.drop {
    color: #e77c48;
    outline-color: #e77c48;
}

.drop-zone {
    color: #ccc;
    outline-style: dashed;
    outline-color: #ccc;
    line-height: 68px;
    text-align: center;
    height: 68px;
    outline-width: 2px;
    border-radius: 0.25em;
    width: 80px;
    margin: 0.5em;
    margin-right: 1em;
}

.list-group-item img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 0.5em;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
